.scoreboard {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
}

.scoreboardName, .scoreboardScore{
    padding: 10px;
    text-align: center;
}

.scoreboardName{
    font-weight: Bold;
    border-bottom: 1px solid black;
}

.scoreboardNameOne{
    color: red;
}

.scoreboardNameTwo{
    color: blue;
}

.scoreboardScore{
    font-size: 3em;
}

.scoreboardControls{
    display:flex;

}

.scoreboardControlButtons{
    flex-grow: 1;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    font-size: 1.2em;
}

.scoreboardControlButtons:hover{
    background: lightgrey;

}

.scoreboardControlButtons:active{
    background: darkgrey;
}
