
/* CSS Code*/
/* Heading Styling*/
h1 {
    color: orangered;
    font-size: 45px;
}
#webpage{
    margin: auto;
    padding-top: 20px;
    min-height: 110vh;
    width: 100vw;
    background: linear-gradient(#E6D1F2,#795695); /* figure out how to make it the whole background and not just the container*/
}

/* The 3x3 grid Styling*/
#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
    display: flex;
    font-weight: 80px;
    height: 2em;
    /* max-width: 60%; */
    margin: 10px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 30px;
    text-align: center;
}



#ticTacToeGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    /* grid-template-rows: repeat(3, 1fr);*/
    margin: auto;
    max-width: 60%;
    align-content: center;

}

/* Reset button Styling*/
#resetButton {
    box-sizing: border-box;
    width: 120px;
    height: 60px;
    border: 1px solid teal;
    margin: auto;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer; 
    align-content: center;
}

/* Player turn space */
#print {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 20px;
}

/* Main Container Styling*/
#main {
    text-align: center;
} 

/* Game Instructions Styling */
#instructions {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
}

